body {
	font-family: Arial;
	font-size: 12px;
}

label {
	display: inline-block;
	width: 100px;
}

.sortable-placeholder {
	border-top: 4px dashed gray;
}

.question {
	padding: 15px;
}

.question-view button.edit, .question-view button.delete {
	display: none;
}

.question:hover button {
	display: block;
}

.question-view .title {
	font-weight: bold;
}

/* Align attachment icon */
.question-view p img {
	vertical-align: middle;
	margin-top: -2px;
}

/* Align attachment checkbox */
.question-edit p input {
    vertical-align: middle;
    margin: 0;
}

/* Bold text for the edit labels */
.question-edit div label {
	font-weight: bold;
}

/* Preview for textarea */
.question textarea {
	height: 100px;
	width: 80%;
}

.question .edit, .question .delete {
	float: right;
}

div.help {
	color: #666;
}

/**
 * Text
 */
.text-question .example {
	background-color: #f5f5f5;
	border: 1px dashed black;
	width: 150px;
}

/*
 * Paragraph
 */
.paragraph-question .example {
	background-color: #f5f5f5;
	border: 1px dashed black;
	width: 300px;
	height: 100px;
	text-align: center;
	line-height: 90px;
}

/*
 * Multiple choice
 */
.multiple-choice-question .example {
	background-color: #f5f5f5;
	border: 1px dashed black;
	width: 300px;
	height: 100px;
	text-align: center;
	line-height: 90px;
}

.options-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.options {
	margin-top: 0px;
	margin-bottom: 0px;
}

.options li {
	list-style: none;
	margin-top: 4px;
	margin-left: 4px;
}

/* Align options in preview */
.options li input {
    vertical-align: middle;
    margin: 0;
}

/* Cross used to remove options */
.options li a {
    text-decoration: none;
    display: inline-block;
    margin-left: 0px;

    border-radius: 100px; 
	-moz-border-radius: 100px; 
	-webkit-border-radius: 100px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 10px;
	
	
}

.options li a:hover {
    background-color: #bbbbbb;
	color: white;
}

ul.options {
	margin-left: 0;
	padding-left: 0px;
}

.add-option, .add-option input {
	cursor: pointer;
	color: #cfcfcf;
}

/*
 * Scale
 */
.scale-question table {
	border-collapse: collapse;
}

 .scale-question table tr td {
 	text-align: center;
 	border-bottom: 1px solid #D3D8D3;
 	padding: .5em .25em
 }