body {
	font-family: Arial;
	font-size: 12px;
}

label {
	display: inline-block;
	width: 100px;
}

.sortable-placeholder {
	border-top: 4px dashed gray;
}

.question {
	padding: 15px;
}

.question-view button.edit, .question-view button.delete {
	display: none;
}

.question:hover button {
	display: block;
}

.question-view .title {
	font-weight: bold;
}

.question .question-edit {
	display: none;
}

.question textarea {
	height: 75px;
	width: 400px;
}

.question .edit, .question .delete {
	float: right;
}

#templates {
	display: none;
}

/* Text */
.text-question .example {
	background-color: #f5f5f5;
	border: 1px dashed black;
	width: 150px;
}

/* Paragraph */
.paragraph-question .example {
	background-color: #f5f5f5;
	border: 1px dashed black;
	width: 300px;
	height: 100px;
	text-align: center;
	line-height: 90px;
}
